.homepage-main-component {
  background-color: #FFFFFF;
  height: 548px;
  width: 343px;
  position: absolute;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.homepage-main-component_title {
  margin-left: 16px;
  margin-top: 32px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.02rem;
  color: #22232E;
}